<li data-user-id="<%= user_meeting.user_id %>">
  <span class="attendant">
    <span class="glyphicon glyphicon-user"></span>
    <%= link_to user_meeting.user.full_name, user_meeting.user %>
  </span>
</li>
