<h1>Reseteo de contraseña</h1>

<p> Para resetear su contraseña haga click en el siguiente enlace: </p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este enlace expirara en 2 horas.</p>

<p>
Si usted no desea cambiar su contraseña, por favor ignore este email y su password permanecera vigente.
</p>
