<h1>Contraseña Demonet</h1>

<p>Bienvenido a Demonet!</p>

<p>Para logearse en el sistema, acceda al siguiente enlace <%= @url %></p>

<p>Ingrese mediante su correo electronico y contraseña <%= @password %> <p>

<p> Una vez ingresado a la plataforma, no olvide cambiar su contraseña </p>
