<li data-member-id="<%= member_group.user_id %>">
  <span class="group_member">
    <span class="glyphicon glyphicon-user"></span>
    <%= link_to member_group.user.full_name, member_group.user %>
  </span>
</li>
