<li data-user-id="<%= admin_group.user_id %>">
  <span class="group_admin">
    <span class="glyphicon glyphicon-user"></span>
    <%= link_to admin_group.user.full_name, admin_group.user %>
  </span>
</li>
