<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Editar Usuario</h1>

    <%= render 'form' %>

    <%= link_to t(:show).titleize, @user %> |
    <%= link_to t(:back).titleize, users_path %>
  </div>
</div>
