<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>Editar Usuario</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
