<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1 class="text-center"><%= t(:welcome).humanize %>!</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">

    <% current_user.groups.each do |group| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= group.name %></h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    <% end %>

  </div>

  <div class="col-lg-6">

    <% current_user.agroups.each do |group| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= group.name %></h3>
        </div>
        <div class="panel-body">
          Panel content
        </div>
      </div>
    <% end %>

  </div>


</div>
