<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron">
        <h1 class="text-center">Bienvenido(a) a Demonet!</h1>
        <p>
          En este sitio podrás ver y modificar tus datos personales, y podrás ver si actualmente estás considerado como Miembro Activo.
        </p>
      </div>
    </div>
  </div>
</div>
