// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#organizing_groups_ul {
  border: 1px solid #888888;
  border-radius: px;
  padding: 10px;
  list-style-type: none;
  line-height: 2.5em;
  display: block;

  li {
    padding: 3px;
    display: inline-block;
    // white-space: nowrap;

    .organizing_group {
      border: 1px solid #aaaaaa;
      border-radius: 2px;
      background: #eeeeee;
      padding: 3px;

      button {
        border: 0;
        background: transparent;
        padding: 0;
        margin: 0;
        color: #ffaaaa;

        :hover {
          color: #ff0000;
        }
      }

      .glyphicon {
        vertical-align: center;
      }

      .glyphicon-user {
        color: #aaaaaa;
      }
    }

    form {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

}

#attendants_ul {
  border: 1px solid #888888;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
  line-height: 2.5em;
  display: block;

  li {
    padding: 3px;
    display: inline-block;
    // white-space: nowrap;

    .attendant {
      border: 1px solid #aaaaaa;
      border-radius: 2px;
      background: #eeeeee;
      padding: 3px;

      button {
        border: 0;
        background: transparent;
        padding: 0;
        margin: 0;
        color: #ffaaaa;

        :hover {
          color: #ff0000;
        }
      }

      .glyphicon {
        vertical-align: center;
      }

      .glyphicon-user {
        color: #aaaaaa;
      }
    }

    form {
      display: inline;
      margin: 0;
      padding: 0;
    }
  }

}

.meeting_time {
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 20px;
  background: #bbbbbb;

  text-align: center;

  h2 {
    font-variant: small-caps;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0;
  }

  input.meeting_time_field {
    line-height: 1em;
    border: 1px solid #888888;
    border-radius: 5px;
  }
}

.meeting_minutes_field {
  width: 100%;
  resize: none;
}

#minutes_preview {
  border: 1px outset #aaaaaa;
  border-radius: 5px;
  padding: 20px;
  min-height: 54px;
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
